<div class="col-md-5 mx-auto">

<div class="card">
    <div class="card-header">
        <h3>REGISTRAR INMUEBLE</h3>
    </div>
    <div class="card-body">
        <form action="/newubicacion" method="POST">
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <input type="text" id="tipo" name="tipo" class="form-control" required autofocus> 
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="text" class="form-control" id="precio" name="precio" required>
            </div>
            <div class="mb-3">
                <label for="ubicacion" class="form-label">Ubicacion</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion"  required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion"  required>
            </div >
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block float-end">Registrar</button>
            </div>
        </form>
    </div>
</div>
    





</div>