<div class="col-md-5 mx-auto">

<div class="card">
    <div class="card-header">
        <h3>REGISTRAR UBICACION</h3>
    </div>
    <div class="card-body">
        <form action="/newinmueble" method="POST">
            <div class="mb-3">
                <label for="departamento" class="form-label">Departamento</label>
                <input type="text" id="departamento" name="departamento" class="form-control" required autofocus> 
            </div>            
            <div class="mb-3">
                <label for="zona" class="form-label">Zona</label>
                <input type="text" class="form-control" id="zona" name="zona" required>
            </div>

            <div class="mb-3">
                <label for="estrato" class="form-label">Estrato</label>
                <input type="text" class="form-control" id="estrato" name="estrato"  required>
            </div >
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block float-end" >Registrar</button>
            </div>
        </form>
    </div>
</div>
    





</div>