<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="body-card">
                <table class="table table-striped mt-2">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each personas}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ nombre }}</td>
                                <td>{{ correo }}</td>
                                <td>{{ telefono }}</td>
                                <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>