<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-z">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PERSONAS</span>
          <button class="btn btn-success float-end" routerLink="/crear-persona">NUEVO</button>
          <table class="table table-striped mt-2">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of listPersonas">
                <td>{{ persona.nombre}}</td>
                <td>{{ persona.correo}}</td>
                <td>{{ persona.telefono}}</td>
                <td>
                  <i [routerLink]="['/editar-persona', persona._id]" class="fas fa-edit text-primary"></i>
                  <i (click)="eliminarPersona(persona._id)" class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 style="text-align:start; margin-top: 10px;" *ngIf="listPersonas.length == 0"></h5>
        </div>
      </div>
    </div>
  </div>
</div>
